## **Exercise Level 1 (List)**

### 1. Declare an empty list

In [53]:
my_list = []

### 2. Declare a list with more than 5 items

In [54]:
list_1 = ["Muhammad", "Usman", 1992, 7.3, "Data Scientist", "Analyst", "ZIRS"]

### 3. Find the length of your list

In [55]:
print(len(list_1))

7

### 4. Get the first item, the middle item and the last item of the list

In [56]:
print(list_1[0])
print(list_1[len(it_companies) // 2])
print(list_1[-1])

Muhammad
7.3
ZIRS

### 5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [57]:
mixed_data_types = ["Muhammad", 32, 7.1, "Single", "Gusau, Zamfara State"]

### 6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [58]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

### 7. Print the list using print()

In [59]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

### 8. Print the number of companies in the list

In [60]:
print(len(it_companies))

7

### 9. Print the first, middle and last company

In [61]:
print(it_companies[0])
print(it_companies[len(it_companies) // 2])
print(it_companies[-1])

Facebook
Apple
Amazon

### 10. Add an IT company to it_companies

In [62]:
it_companies.append("Twitter")

### 11. Insert an IT company in the middle of the companies list

In [63]:
it_companies.insert(len(it_companies) // 2, "Tesla")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'Tesla', 'IBM', 'Oracle', 'Amazon', 'Twitter']

### 12. Change one of the it_companies names to uppercase (IBM excluded!)

In [64]:
# Change the name of the first company to uppercase
it_companies[0] = it_companies[0].upper()
print(it_companies)

['FACEBOOK', 'Google', 'Microsoft', 'Apple', 'Tesla', 'IBM', 'Oracle', 'Amazon', 'Twitter']

### 13. Print the list after modifying one of the companies

In [65]:
print(it_companies)

['FACEBOOK', 'Google', 'Microsoft', 'Apple', 'Tesla', 'IBM', 'Oracle', 'Amazon', 'Twitter']

### 14. Join the it_companies with a string '#;  '

In [66]:
joined_it_companies = '#;  '.join(it_companies)
print(joined_it_companies)

FACEBOOK#;  Google#;  Microsoft#;  Apple#;  Tesla#;  IBM#;  Oracle#;  Amazon#;  Twitter

### 15. Check if a certain company exists in the it_companies list.

In [67]:
company_check = "Google"
if company_check in it_companies:
    print(f"{company_check} exists in the it_companies list.")
else:
    print(f"{company_check} does not exist in the it_companies list.")

Google exists in the it_companies list.

### 16. Sort the list using sort() method

In [68]:
it_companies.sort()

print(it_companies)

['Amazon', 'Apple', 'FACEBOOK', 'Google', 'IBM', 'Microsoft', 'Oracle', 'Tesla', 'Twitter']

### 17. Reverse the list in descending order using reverse() method

In [69]:
it_companies.sort(reverse=True)
print(it_companies)

['Twitter', 'Tesla', 'Oracle', 'Microsoft', 'IBM', 'Google', 'FACEBOOK', 'Apple', 'Amazon']

### 18. Slice out the first 3 companies from the list

In [70]:
slice_first_three = it_companies[:3]

print(slice_first_three)

['Twitter', 'Tesla', 'Oracle']

### 19. Slice out the last 3 companies from the list

In [71]:
slice_last_three = it_companies[-3:]

print(slice_last_three)

['FACEBOOK', 'Apple', 'Amazon']

### 20. Slice out the middle IT company or companies from the list

In [72]:
slice_middle_three = it_companies[len(it_companies) // 2 - 1: len(it_companies) // 2 + 2]

print(slice_middle_three)

['Microsoft', 'IBM', 'Google']

### 21. Remove the first IT company from the list

In [73]:
remove_first_company = it_companies.pop(0)

print(remove_first_company)

Twitter

### 22. Remove the middle IT company or companies from the list

In [74]:
remove_middle_company = it_companies.pop(len(it_companies) // 2)

print(remove_middle_company)

Google

### 23. Remove the last IT company from the list

In [75]:
remove_last_company = it_companies.pop(-1)

print(remove_last_company)

Amazon

### 24. Remove all IT companies from the list

In [76]:
remove_all_companies = it_companies.clear()

print(remove_all_companies)

None

### 25. Destroy the IT companies list

In [77]:
del it_companies

### 26. Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']

back_end = ['Node','Express', 'MongoDB']

In [79]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

front_end + back_end

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

### 27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [80]:
full_stack = front_end + back_end

# Find the index of 'Redux' and insert 'Python' and 'SQL' after it
index_of_redux = full_stack.index('Redux')
full_stack.insert(index_of_redux + 1, 'Python')
full_stack.insert(index_of_redux + 2, 'SQL')

print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

## **Exercise: Level 2 (List)**

The following is a list of 10 students ages:

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [81]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

**Sort the list and find the min and max age**

In [86]:
ages.sort()

print(ages)

min_age = min(ages)
max_age = max(ages)

print(f"The minimum value is: {min_age}")
print(f"The Maximum value max_age: {max_age}")

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
The minimum value is: 19
The Maximum value max_age: 26

**Add the min age and the max age again to the list**

In [87]:
add_ages = sum(ages)
ages.append(add_ages)

print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 228]

**Find the median age (one middle item or two middle items divided by two)**

In [89]:
median_age = add_ages / len(ages)

print(median_age)

20.727272727272727

**Find the average age (sum of all items divided by their number )**

In [90]:
average_age = add_ages / len(ages)

print(average_age)

20.727272727272727

**Find the range of the ages (max minus min)**

In [91]:
range_age = max_age - min_age

print(range_age)

7

**Compare the value of (min - average) and (max - average), use abs() method**

In [92]:
min_average_diff = abs(min_age - average_age)
max_average_diff = abs(max_age - average_age)

print(f"Absolute difference between min age and average age: {min_average_diff}")
print(f"Absolute difference between max age and average age: {max_average_diff}")

Absolute difference between min age and average age: 1.7272727272727266
Absolute difference between max age and average age: 5.272727272727273

**Find the middle country(ies) in the countries list**

In [93]:
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

middle_index = len(countries) // 2

if len(countries) % 2 == 0:
    middle_countries = countries[middle_index - 1: middle_index + 1]
else:
    middle_countries = [countries[middle_index]]

print(middle_countries)

['Finland']

**Divide the countries list into two equal lists if it is even if not one more country for the first half.**

In [94]:
middle_index = (len(countries) + 1) // 2

first_half = countries[:middle_index]
second_half = countries[middle_index:]

print("First half:", first_half)
print("Second half:", second_half)

First half: ['China', 'Russia', 'USA', 'Finland']
Second half: ['Sweden', 'Norway', 'Denmark']

**['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.**

In [96]:
china, russia, usa, *scandic_countries = countries
print(china, russia, usa)
print(scandic_countries)

China Russia USA
['Finland', 'Sweden', 'Norway', 'Denmark']

## **Tuple Exercises: Level 1**

### 1. Create an empty tuple

In [97]:
empty_tpl = ()

### 2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

In [99]:
brothers = ('Isah', 'Ibrahim', 'Aminu')
sisters = ('Sadiya', 'Zainab')

### 3. Join brothers and sisters tuples and assign it to siblings

In [100]:
siblings = brothers + sisters
print(siblings)

('Isah', 'Ibrahim', 'Aminu', 'Sadiya', 'Zainab')

### 4. How many siblings do you have?

In [101]:
print(len(siblings))

5

### 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [107]:
family_members = list(siblings)
family_members.extend(['Usman', 'Hafsat'])
family_members = tuple(family_members)
print(family_members)

('Isah', 'Ibrahim', 'Aminu', 'Sadiya', 'Zainab', 'Usman', 'Hafsat')

## **Tuple Exercises: Level 2**

### 1. Unpack siblings and parents from family_members

In [108]:
siblings_unpack, parents_unpack = family_members[:5], family_members[5:]
print("Siblings:", siblings_unpack)
print("Parents:", parents_unpack)

Siblings: ('Isah', 'Ibrahim', 'Aminu', 'Sadiya', 'Zainab')
Parents: ('Usman', 'Hafsat')

### 2. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

In [109]:
fruits = ('banana', 'orange', 'mango', 'lemon')
vegetables = ('Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot')
animal_products = ('milk', 'meat', 'butter', 'yoghurt')
food_stuff_tp = fruits + vegetables + animal_products

print(food_stuff_tp)

('banana', 'orange', 'mango', 'lemon', 'Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot', 'milk', 'meat', 'butter', 'yoghurt')

### 3. Change the about food_stuff_tp tuple to a food_stuff_lt list

In [110]:
food_stuff_lt = list(food_stuff_tp)

print(food_stuff_lt)

['banana', 'orange', 'mango', 'lemon', 'Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot', 'milk', 'meat', 'butter', 'yoghurt']

### 4. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.

In [111]:
sliced_mid  = food_stuff_lt[len(food_stuff_lt) // 3: len(food_stuff_lt) // 3 + 3]
print(sliced_mid)

['Tomato', 'Potato', 'Cabbage']

### 5. Slice out the first three items and the last three items from food_staff_lt list

In [112]:
first_three = food_stuff_lt[:3]
last_three = food_stuff_lt[-3:]

print(first_three)
print(last_three)

['banana', 'orange', 'mango']
['meat', 'butter', 'yoghurt']

### 6. Delete the food_staff_tp tuple completely

In [113]:
del food_stuff_tp

### 7. Check if an item exists in tuple:
Check if 'Estonia' is a nordic country

Check if 'Iceland' is a nordic country

In [ ]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
'Estonia' in nordic_countries

False

In [116]:
'Iceland' in nordic_countries

True

## **Sets Exercises: Level 1**

In [117]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

### 1. Find the length of the set it_companies

In [118]:
len(it_companies)

7

### 2. Add 'Twitter' to it_companies

In [119]:
it_companies.add('Twitter')

### 3. Insert multiple IT companies at once to the set it_companies

In [120]:
it_companies.update(['Spotify', 'Netflix', 'Adobe'])
print(it_companies)

{'Netflix', 'Oracle', 'Facebook', 'IBM', 'Spotify', 'Google', 'Microsoft', 'Adobe', 'Apple', 'Amazon', 'Twitter'}

### 4. Remove one of the companies from the set it_companies

In [121]:
it_companies.remove('Netflix')
print(it_companies)

{'Oracle', 'Facebook', 'IBM', 'Spotify', 'Google', 'Microsoft', 'Adobe', 'Apple', 'Amazon', 'Twitter'}

### 5. What is the difference between remove and discard

1. remove method:

Removes the specified element from the set.

Raises a KeyError if the element is not found in the set.

In [123]:
my_set = {1, 2, 3}
my_set.remove(2)  # my_set becomes {1, 3}

2. discard method:

Removes the specified element from the set.

Does nothing if the element is not found in the set (no error is raised).

In [124]:
my_set = {1, 2, 3}
my_set.discard(2)  # my_set becomes {1, 3}

## **Sets Exercises: Level 2**

### 1. Join A and B

In [125]:
A.union(B)

{19, 20, 22, 24, 25, 26, 27, 28}

### 2. Find A intersection B

In [126]:
A.intersection(B)

{19, 20, 22, 24, 25, 26}

### 3. Is A subset of B

In [127]:
A.issubset(B)

True

### 4. Are A and B disjoint sets

In [128]:
A.isdisjoint(B)

False

### 5. Join A with B and B with A

In [129]:
A_union_B = A.union(B)
B_union_A = B.union(A)

print("A union B:", A_union_B)
print("B union A:", B_union_A)

A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}

### 6. What is the symmetric difference between A and B

In [130]:
A.symmetric_difference(B)

{27, 28}

### 7. Delete the sets completely

In [131]:
del A
del B

## **Sets Exercises: Level 3**

### 1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?

In [134]:
age_set = set(age)

print(f' The length of age in set is: {len(age_set)}')
print(f'The length of age in list is: {len(age)}')

 The length of age in set is: 5
The length of age in list is: 8

### 2. Explain the difference between the following data types: string, list, tuple and set

1. String
   
Definition: A string is a sequence of characters.

Mutable/Immutable: Immutable (cannot be changed after creation).

Syntax: Defined by enclosing characters in single (') or double (") quotes.

In [137]:
# example
my_string = "Hello, World!"
print(my_string)

Hello, World!

2. List
   
Definition: A list is an ordered collection of items (which can be of different types).

Mutable/Immutable: Mutable (can be changed after creation).

Syntax: Defined by enclosing items in square brackets ([]), separated by commas.

In [138]:
# example
my_list = [1, 2, 3, "apple", "banana"]
print(my_list)

[1, 2, 3, 'apple', 'banana']

3. Tuple
   
Definition: A tuple is an ordered collection of items (which can be of different types), similar to a list.

Mutable/Immutable: Immutable (cannot be changed after creation).

Syntax: Defined by enclosing items in parentheses (()), separated by commas.

In [139]:
# example
my_tuple = (1, 2, 3, "apple", "banana")
print(my_tuple)

(1, 2, 3, 'apple', 'banana')

### 3.  I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [140]:
sentence = "I am a teacher and I love to inspire and teach people."
words = sentence.split()
unique_words = set(words)
num_unique_words = len(unique_words)

print(f"Number of unique words: {num_unique_words}")
print(f"Unique words: {unique_words}")

Number of unique words: 10
Unique words: {'teacher', 'teach', 'I', 'love', 'to', 'a', 'am', 'people.', 'inspire', 'and'}